.check{
    background-color: rgb(31, 168, 31);
    color: rgb(131, 207, 226);
}
.noCheck{    
    border: 2px solid blue;
    border-radius: 20px;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}